  

<% if @failed %>
	<div id="error">
		<p>Username/Password combo incorrect.</p>
	</div>
<% end %>

<form action="/login" method="POST">
	<div class="separator"></div>
	<p><label for="username">Username:</label><br>
	<input type="text" id="username" name="username"><br><br>
	
	<p><label for="password">Password:</label><br>
	<input type="text" id="password" value="secret" name="password"><br><br>

	<button type="submit" name ="Submit" value="Submit" alt="Sign In"><img src="/images/ghiblisubmitbutton.png" width=55></button></>
</form>
<br>
