
<h1> Welcome to Ghibli Fan Reviews, sign up and lets discuss! </h1>

  <form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Username:">
    <input type="password" name="password" value="secret" placeholder="Password:">
    <input type="submit" value="submit">
  </form>
