<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Ghibli Fan Reviews</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
    
  </head>
  <body>


    <div class="wrapper">
  
      <div class="container">
      <div class ='header'>
          <% if logged_in? %>
          <div class="topnav">
            <a href="/reviews"> Home </a>
            <a href="/users/<%=current_user.slug%>"> Your reviews </a>
            <a href="/reviews/new"> Create a new Review </a>
            <a href="/logout"> Log Out </a>
          </div>
          <% else %>
          <h1> Ghibli Fan Reviews</h1>
          <nav class="navbar navbar-expand-lg navbar-dark bg-inherit">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/signup">Sign Up</a>
                <a class="nav-item nav-link" href="/login"> Log In </a>
              </div>
            </div>
          </nav>
          <%end %>
          </div>
            <br>


            <%= yield %>

              <div class='error_message'>
                <% if !!flash[:error] %>
                  <%= flash[:error] %>
                <% end %>
              
              </div>

            <footer class="branding">
              <small>&copy; 2021 <strong>Ghibli Fan Reviews</strong></small>
            </footer>
        </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>

